body {
  background-image: url("https://shots.codepen.io/leen624/pen/mdLjbbz-512.jpg?version=1664907060");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  color: white;
  overflow-x: hidden;
}

.head-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#name {
  font-size: 15px;
}

#platform {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.main-survey-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b32cc;
  font-size: 4vw;
  margin: 0 auto;
  width: 45vw;
}

#name,
#email,
#age,
#dropdown {
  font-size: 70px;
}

.survey-form {
  padding: 50px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.form-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
  font-size: 80px;
  justify-content: space-around;
  gap: 2rem;
}

.form-div input,
.dropdown {
  width: 40vw;
  font-size: 70px;
  height: 4vh;
  border-radius: 5px;
}

.radio-container {
  display: flex;
  align-items: start;
  font-size: 70px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form-radio {
  display: flex;
  align-items: center;
}

#form-radio input {
  width: 3vw;
}

.radio {
  width: 70px;
  height: 80px;
}

#div-checkbox {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 80px;
  gap: 20px;
}

.checkbox {
  height: 60px;
  width: 50px;
}

#div-checkbox input {
  width: 3vw;
}

.check {
  align-items: center;
  display: flex;
  gap: 10px;
}

.text-div {
  height: 390px;
  font-size: 60px;
}

.text-input {
  font-size: 80px;
}

.button {
  display: block;
  width: 100%;
  margin-top: 70px;
  background-color: #008000;
  text-align: center;
  font-size: 90px;
  cursor: pointer;
}

.submit {
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
